@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap");
@import url("../web-fonts-with-css/css/fontawesome-all.css");
@import url(../css/bootstrap.css);
@import url(../css/bootstrap-grid.css);
@import url(../css/bootstrap-reboot.css);
* {
  margin: 0;
  padding: 0; }

header {
  background-color: #dedede;
  height: auto; }
  @media screen and (max-width: 992px) {
    header {
      height: 460px; } }
  @media screen and (max-width: 768px) {
    header {
      height: 370px; } }
  @media screen and (max-width: 576px) {
    header {
      height: 260px; } }

header .nav-item {
  font: 16px 'Asap';
  font-weight: 400;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-left: 40px; }

header .nav-item a:after {
  display: block;
  content: '';
  background-color: transparent;
  width: 50%;
  height: 2px;
  transition: 0.3s;
  margin-top: 9px; }

header .nav-item a:hover:after {
  background-color: #878787;
  width: 100%;
  transition: 0.2s; }

.imageBgTitle {
  z-index: 1; }

.ml-auto, .mx-auto {
  text-align: right; }

.navbar {
  z-index: 2;
  max-width: 1110px;
  width: 100%; }
  @media screen and (max-width: 1199px) {
    .navbar {
      width: 940px; } }
  @media screen and (max-width: 992px) {
    .navbar {
      width: 690px; } }
  @media screen and (max-width: 768px) {
    .navbar {
      width: 515px; } }
  @media screen and (max-width: 576px) {
    .navbar {
      width: 95%; } }

.card-img-overlay h1 {
  font: 90px 'Asap';
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 15px; }
  @media screen and (max-width: 768px) {
    .card-img-overlay h1 {
      font: 60px 'Asap'; } }
  @media screen and (max-width: 576px) {
    .card-img-overlay h1 {
      font: 30px 'Asap'; } }

.card-img-overlay h2 {
  font: 22px 'Asap';
  font-weight: 500;
  color: #4d4d4d;
  opacity: 54%; }
  @media screen and (max-width: 768px) {
    .card-img-overlay h2 {
      font: 18px 'Asap'; } }
  @media screen and (max-width: 576px) {
    .card-img-overlay h2 {
      font: 14px 'Asap'; } }

.card-img-overlay {
  top: 30%; }

.btn-outline-secondary {
  width: 160px;
  height: 50px;
  border-radius: 0 !important;
  text-transform: uppercase;
  font: 16px 'Asap';
  font-weight: 500;
  color: #4d4d4d;
  margin-top: 33px; }
  @media screen and (max-width: 576px) {
    .btn-outline-secondary {
      margin-top: 10px;
      width: 120px;
      height: 30px; } }

.btn1 {
  background-color: white;
  border: none;
  margin-right: 20px;
  box-shadow: 0 20px 40px 2px #C2C2C2; }

.btn2 {
  background-color: transparent; }

.knowAboutMe p {
  font: 16px/26px 'Asap';
  font-weight: 400;
  color: #4d4d4d; }

h2 {
  font: 46px 'Asap';
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d; }

.knowAboutMe .container {
  padding-top: 109px;
  padding-bottom: 124px; }

.aboutmepar {
  padding-top: 50px;
  padding-right: 130px; }

.knowAboutMe h2:before {
  margin-left: 3px; }

header h2:before {
  background-color: transparent; }

.knowAboutMe button {
  width: 245px;
  margin: 0; }
  @media screen and (max-width: 1199px) {
    .knowAboutMe button {
      margin-bottom: 30px; } }

.services {
  background-color: #f6f6f6;
  padding-bottom: 140px;
  padding-top: 110px; }
  .services h3 {
    color: #7a7a7a;
    font: 24px 'Asap';
    font-weight: 500;
    margin-top: 10px;
    opacity: 0.9; }
  .services i {
    font-size: 77px;
    color: #7a7a7a;
    margin-top: 40px;
    opacity: 0.9; }

h2:before {
  margin-left: auto;
  margin-right: auto;
  display: block;
  content: '';
  background-color: #7a7a7a;
  width: 60px;
  height: 4px;
  margin-bottom: 15px; }

.skills {
  padding-bottom: 125px;
  padding-top: 110px; }
  .skills h2 {
    margin-bottom: 61px; }

.portfolio {
  padding-bottom: 125px;
  padding-top: 120px;
  background-color: #f6f6f6; }
  .portfolio h2 {
    margin-bottom: 61px; }
  .portfolio img {
    margin-bottom: 30px; }
  .portfolio button {
    width: 190px; }
  .portfolio .imgshadow {
    box-shadow: 0 20px 40px 2px #C2C2C2; }

.testimonials {
  padding-bottom: 120px;
  padding-top: 125px; }
  .testimonials h2 {
    margin-bottom: 58px; }

.carousel.pointer-event {
  max-width: 955px;
  margin: auto; }

.carousel-item {
  padding: 85px 70px 100px 120px;
  border: solid 1px #212121; }
  @media screen and (max-width: 992px) {
    .carousel-item {
      padding: 40px 30px 50px 30px; } }
  @media screen and (max-width: 768px) {
    .carousel-item {
      padding: 10px 10px 50px 10px; } }
  .carousel-item h3 {
    color: #212121;
    font: 30px/30px 'Asap';
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.9;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .carousel-item h3 {
        font: 20px/20px 'Asap';
        text-transform: capitalize; } }
  .carousel-item img {
    width: 160px;
    height: 160px; }
    @media screen and (max-width: 488px) {
      .carousel-item img {
        width: 110px;
        height: 110px; } }
    @media screen and (max-width: 384px) {
      .carousel-item img {
        width: 80px;
        height: 80px; } }
  .carousel-item p {
    color: #212121;
    font: 16px/26px 'Asap';
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.6; }
    @media screen and (max-width: 768px) {
      .carousel-item p {
        font: 12px/20px 'Asap';
        text-transform: none;
        padding-right: 175px; } }
    @media screen and (max-width: 488px) {
      .carousel-item p {
        padding-right: 120px; } }
    @media screen and (max-width: 384px) {
      .carousel-item p {
        font: 10px/18px 'Asap';
        text-transform: none;
        padding-right: 100px; } }
    .carousel-item p span {
      font: 12px 'Asap';
      font-weight: 500;
      opacity: 0.9; }

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: flex; }

.carousel-indicators li {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: solid 1px black;
  opacity: 1;
  margin-right: 0; }

.carousel-indicators .active {
  background-color: black; }

.happysec {
  padding-top: 70px;
  padding-bottom: 65px;
  background-color: #f6f6f6; }
  .happysec h3 {
    color: #7a7a7a;
    font: 30px 'Asap';
    font-weight: 900;
    margin-top: 10px; }
  .happysec p {
    color: #7a7a7a;
    font: 22px 'Asap';
    font-weight: 500;
    margin-top: 10px;
    opacity: 0.9;
    text-transform: uppercase; }
  .happysec i {
    font-size: 77px;
    color: #7a7a7a;
    margin-top: 40px;
    opacity: 0.9; }

.empty {
  height: 150px; }

footer {
  padding-top: 100px;
  background-image: url("../images/footerbg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #646465; }
  footer h2 {
    color: white;
    margin-bottom: 70px; }
  footer h2:before {
    background-color: white; }
  footer .btn-outline-secondary {
    width: 123px;
    margin-right: 0;
    margin-top: 0 !important;
    box-shadow: none;
    margin-bottom: 48px; }
    footer .btn-outline-secondary i {
      font-size: 16px;
      color: #212121; }
  footer .btn-outline-secondary:hover i {
    color: white;
    transition: 0.2s; }
  footer form {
    font: 16px 'Asap';
    font-weight: 400;
    color: #212121;
    opacity: 0.8; }
  footer hr {
    color: white;
    size: 1px;
    width: 100%; }

.form-control {
  margin-bottom: 30px;
  border-radius: 0;
  border: none; }

#exampleFormControlInput1, #exampleFormControlInput2 {
  height: 57px; }

#exampleFormControlTextarea1 {
  line-height: 57px; }

.social {
  display: inline-block;
  margin-right: 9px;
  width: 27px;
  height: 27px;
  background-color: white; }
  .social i {
    font-size: 16px;
    color: #212121;
    opacity: 0.8;
    margin-top: 6px; }
  @media screen and (max-width: 1199px) {
    .social {
      margin-bottom: 9px; } }

.social:hover {
  background-color: #0985bf;
  transition: 0.2s; }
  .social:hover i {
    color: white; }

.whiteline:before {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: white;
  margin-bottom: 30px; }

.footerpar {
  color: white;
  font: 16px 'Asap';
  font-weight: 400;
  margin-top: 5px; }

/*# sourceMappingURL=style.css.map */
