@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
@import url('../web-fonts-with-css/css/fontawesome-all.css');
@import "../css/bootstrap.css";
@import "../css/bootstrap-grid.css";
@import "../css/bootstrap-reboot.css";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #dedede;
  height: auto;
  @include max-screen(992px) {
    height: 460px;
  }
  @include max-screen(768px) {
    height: 370px;
  }
  @include max-screen(576px) {
    height: 260px;
  }
}

header .nav-item {
  font: 16px 'Asap';
  font-weight: 400;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-left: 40px;
}

header .nav-item a:after {
  display: block;
  content: '';
  background-color: transparent;
  width: 50%;
  height: 2px;
  transition: 0.3s;
  margin-top: 9px;
}

header .nav-item a:hover:after {
  background-color: #878787;
  width: 100%;
  transition: 0.2s
}

.imageBgTitle {
  z-index: 1;
}

.ml-auto, .mx-auto{
  text-align: right;
}

.navbar {
  z-index: 2;
  max-width: 1110px;
  width: 100%;
  @include max-screen(1199px) {
    width: 940px;
  }
  @include max-screen(992px) {
    width: 690px;
  }
  @include max-screen(768px) {
    width: 515px;
  }
  @include max-screen(576px) {
    width: 95%;
  }
}

.card-img-overlay h1 {
  font: 90px 'Asap';
  font-weight: 500;
  @include max-screen(768px) {
    font: 60px 'Asap';
  }
  @include max-screen(576px) {
    font: 30px 'Asap';
  }
  color: #4d4d4d;
  margin-bottom: 15px;
}

.card-img-overlay h2 {
  font: 22px 'Asap';
  @include max-screen(768px) {
    font: 18px 'Asap';
  }
  @include max-screen(576px) {
    font: 14px 'Asap';
  }
  font-weight: 500;
  color: #4d4d4d;
  opacity: 54%;
}

.card-img-overlay {
  top: 30%;
}

.btn-outline-secondary {
  width: 160px;
  height: 50px;
  border-radius: 0!important;
  text-transform: uppercase;
  font: 16px 'Asap';
  font-weight: 500;
  color: #4d4d4d;
  margin-top: 33px;
  @include max-screen(576px) {
    margin-top: 10px;
    width: 120px;
    height: 30px;
  }
}

.btn1 {
  background-color: white;
  border: none;
  margin-right: 20px;
  box-shadow: 0 20px 40px 2px #C2C2C2;
}

.btn2 {
  background-color: transparent;
}

.knowAboutMe p {
  font: 16px/26px 'Asap';
  font-weight: 400;
  color: #4d4d4d;
}

h2 {
  font: 46px 'Asap';
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
}

.knowAboutMe .container {
  padding-top: 109px;
  padding-bottom: 124px;
}

.aboutmepar {
  padding-top: 50px;
  padding-right: 130px;
}

.knowAboutMe h2:before {
  margin-left: 3px;
}

header h2:before {
  background-color: transparent;
}

.knowAboutMe button{
  width: 245px;
  margin: 0;
  @include max-screen(1199px) {
    margin-bottom: 30px;
  }
}

.services {
  background-color: #f6f6f6;
  padding-bottom: 140px;
  padding-top: 110px;
  h3 {
    color: #7a7a7a;
    font: 24px 'Asap';
    font-weight: 500;
    margin-top: 10px;
    opacity: 0.9;
  }
  i {
    font-size: 77px;
    color: #7a7a7a;
    margin-top: 40px;
    opacity: 0.9;
  }
}

h2:before {
  margin-left: auto;
  margin-right: auto;
  display: block;
  content: '';
  background-color: #7a7a7a;
  width: 60px;
  height: 4px;
  margin-bottom: 15px;
}

.skills {
  padding-bottom: 125px;
  padding-top: 110px;
  h2 {
    margin-bottom: 61px;
  }
}

.portfolio {
  padding-bottom: 125px;
  padding-top: 120px;
  h2 {
    margin-bottom: 61px;
  }
  img {
    margin-bottom: 30px;
  }
  background-color: #f6f6f6;
  button {
    width: 190px;
  }
  .imgshadow {
    box-shadow: 0 20px 40px 2px #C2C2C2;
  }
}

.testimonials {
  padding-bottom: 120px;
  padding-top: 125px;
  h2 {
    margin-bottom: 58px;
  }
}

.carousel.pointer-event {
  max-width: 955px;
  margin: auto;
}

.carousel-item {
  padding: 85px 70px 100px 120px;
  @include max-screen(992px) {
    padding: 40px 30px 50px 30px;
  }
  @include max-screen(768px) {
    padding: 10px 10px 50px 10px;
  }
  border: solid 1px #212121;
  h3 {
    color: #212121;
    font: 30px/30px 'Asap';
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.9;
    margin: 0;
    @include max-screen(768px) {
      font: 20px/20px 'Asap';
      text-transform: capitalize;
    }
  }
  img {
    width: 160px;
    height: 160px;

    @include max-screen(488px) {
      width: 110px;
      height: 110px;
    }
    @include max-screen(384px) {
      width: 80px;
      height: 80px;
    }
  }
  p {
    color: #212121;
    font: 16px/26px 'Asap';
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.6;
    @include max-screen(768px) {
      font: 12px/20px 'Asap';
      text-transform: none;
      padding-right: 175px;
    }
    @include max-screen(488px) {
      padding-right: 120px;
    }
    @include max-screen(384px) {
      font: 10px/18px 'Asap';
      text-transform: none;
      padding-right: 100px;
    }
    span {
      font: 12px 'Asap';
      font-weight: 500;
      opacity: 0.9;
    }
  }
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: flex;
}

.carousel-indicators li {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: solid 1px black;
  opacity: 1;
  margin-right: 0;
}

.carousel-indicators .active {
  background-color: black;
}

.happysec {
  padding-top: 70px;
  padding-bottom: 65px;
  background-color: #f6f6f6;
  h3 {
    color: #7a7a7a;
    font: 30px 'Asap';
    font-weight: 900;
    margin-top: 10px;
  }
  p{
    color: #7a7a7a;
    font: 22px 'Asap';
    font-weight: 500;
    margin-top: 10px;
    opacity: 0.9;
    text-transform: uppercase;
  }
  i {
    font-size: 77px;
    color: #7a7a7a;
    margin-top: 40px;
    opacity: 0.9;
  }
}

.empty {
  height: 150px;
}

footer {
  padding-top: 70px;
  background-image: url("../images/footerbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #646465;
  h2 {
    color: white;
    margin-bottom: 40px;
  }
  h2:before {
    background-color: white;
  }
  .btn-outline-secondary {
    width: 123px;
    margin-right: 0;
    margin-top: 0!important;
    box-shadow: none;
    margin-bottom: 28px;
    i {
      font-size: 16px;
      color: #212121;
    }
  }
  .btn-outline-secondary:hover {
    i{
      color: white;
      transition: 0.2s
    }

  }
  form {
    font: 16px 'Asap';
    font-weight: 400;
    color: #212121;
    opacity: 0.8;
  }
  hr {
    color: white;
    size: 1px;
    width: 100%;
  }
}

.form-control {
    margin-bottom: 30px;
    border-radius: 0;
  border: none;
}

#exampleFormControlInput1, #exampleFormControlInput2 {
    height: 57px;
}

#exampleFormControlTextarea1 {
  line-height: 57px;
}

.social {
  display: inline-block;
  margin-right: 9px;
  width: 27px;
  height: 27px;
  background-color: white;
  i {
    font-size: 16px;
    color: #212121;
    opacity: 0.8;
    margin-top: 6px;
  }
  @include max-screen(1199px) {
    margin-bottom: 9px;
  }
}

.social:hover {
  background-color: #0985bf;
  i {
    color: white;
  }
  transition: 0.2s
}

.whiteline:before {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: white;
  margin-bottom: 30px;
}

.footerpar {
  color: white;
  font: 16px 'Asap';
  font-weight: 400;
  margin-top: 5px;
}
